<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nao.cycledev.todolist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="nao.cycledev.todolist.ToDo_List"
            android:label="@string/title_activity_to_do__list">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="nao.cycledev.todolist.AddToDoItem"
            android:label="@string/title_activity_add_to_do_item" 
            android:parentActivityName="nao.cycledev.todolist.ToDo_List">
            <meta-data
            	android:name="android.support.PARENT_ACTIVITY"
            	android:value="nao.cycledev.todolist.ToDo_List" />            
        </activity>
    </application>

</manifest>
